#Nav{
  #LeftTop{
    width: 250px;
    height: 50px;
    box-sizing: content-box;
    border: 1px solid black;
    float: left;
    }

 #LeftSlide{
    width: 250px;
    height: 100%;
    float: left;
    box-sizing: content-box;
    border: 1px solid black;
    }
}